
:root {
    --bs-blue: #0d6efd;
    --dark-color:#19283f;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}
body
{
    font-family: "Roboto", sans-serif;
    display: none;
}
header
{
    width: 100%;
    overflow: hidden;
    background-image: url(../images/banner.png);
    padding-bottom: 100px;
}
ul
{
    list-style: none;
}
/*start navbar*/
.navbar
{
    background-color: transparent;
}
.navbar-nav li
{
    margin-right: 10px;
}
.navbar-nav a
{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.navbar-nav a.active
{
    color: #fd7e14;
}
.navbar-nav svg
{
    font-size: 18px;
    margin-left: 15px;
}
.navbar-nav a:hover
{
    color: var(--bs-red);
}
.navbar-nav svg:hover
{
    color: #0d6efd;
}
.fa-bars-staggered
{
    color: #fff;
}
/*end navbar*/
/*start landing*/
.main-slider
{
    width: 100%;
    overflow: hidden;
    padding-top: 70px;
}
.left-content :first-child
{
    padding-bottom: 130px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.left-content :last-child
{
    padding-top: 130px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.left-content span
{
    padding: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
}
.slick-text
{
    padding-top: 40px;
}
.slick-text h3
{
    color: var(--bs-danger);
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 50px;
}
.slick-text h2
{
    font-size: 46px;
    line-height: 55px;
}
.slick-text p
{
    margin-bottom: 25px;
    letter-spacing: 1.4px;
    line-height: 30px;
}
.slick-text button
{
    padding: 8px 28px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 22px;
}
.slick-img img
{
    width: 100%;
    margin-right: 10%;
    margin-bottom: 10%;
}
/*end main slider*/
/*end header*/
/*start new collection*/
.new-collection
{
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}
.main-header h3
{
    letter-spacing: 1px;
    font-weight: bold;
}
.main-header p
{
    letter-spacing: 1px;
    font-size: 15px;
    padding: 15px;
    text-transform: capitalize;
    line-height: 25px;
    color: #777;
}
.new-card
{
    position: relative;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #ddd;
    cursor: pointer;
}
.new-logo
{
    position: absolute;
    padding: 7px 30px;
    background-color: var(--bs-blue);
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    left: -30px;
    top: -30px;
}
.new-logo h4
{
    line-height: 35px;
}
.card-img
{
    margin-top: 90px;
    margin-bottom: 40px;
}
.card-img img
{
    width: 80%;
    margin-left: 10%;
}
.card-info h5
{
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 40px;
}
.card-info p
{
    font-weight: bold;
    font-size: 28px;
}
.card-info span
{
    font-size: 28px;
    color: var(--bs-danger);
    padding-left: 5px;
}
.card-icons
{
    padding-bottom: 30px;
    color: gold;
}
.old-card
{
    position: relative;
    z-index: 2;
    width: 100%;
    transform: translate(-50px,60px);
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #777;
    margin-bottom: 80px;
    background-color: #ddd;
    cursor: pointer;
}
.btn-danger
{
    margin: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
    padding: 6px 15px;
}
.card-basket
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #19283f;
    text-align: center;
    padding-top: 40%;
    color: #fff;
    display: none;
}
.card-basket a
{
    color: #fff;
    line-height: 35px;
}
.card-basket .fa-basket-shopping
{
    font-size: 22px;
    margin-bottom: 15px;
}
.card-input 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-input a
{
    background-color: #0dcaf0;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 7px; 
    margin: 5px;
}
.card-input .shoes-number
{
    text-align: center;
    height: 35px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid #fff;
    outline: #fff;
    font-weight: bold;
}
.new-close,
.old-close
{
    position: relative;
    z-index: 9999;
    left: 50%;
    top: -10px;
    background-color:#20c997;
    border-radius: 5px;
    padding: 4px 12px;
    display: none;
}
.old-close
{
    top: 20px;
    left: 45%;
}
/*end new collection*/
/*start racing section*/
.racing
{
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}
.racing-banner
{
    width: 100%;
    padding-bottom: 25px;
    background-color: #eae7e7;
}
.racing-img img
{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.racing-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
}
.racing-text h5,
.racing-text h3
{
    color: var(--bs-pink);
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 80px;
    font-weight: bold;
    font-size: 56px;
}
.racing-text h4
{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 80px;
    font-weight: bold;
    font-size: 62px;
}
.racing-text b
{
    color: var(--bs-pink);
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 80px;
    font-weight: bold;
    font-size: 56px;
}
.racing-text span
{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 80px;
    font-weight: bold;
    font-size: 62px;
}
.racing-text a
{
    text-decoration: none;
    background-color: var(--bs-pink);
    padding: 10px 45px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}
/*end racing section*/
/*start arrival-products*/
.arrival-products
{
    background-color: #dc3545;
    padding-top: 60px;
    padding-bottom: 60px;
}
.arrival-card
{
    background-color: #fff;
    height: 400px;
    position: relative;
    margin:5%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;
}
.arrival-card:hover
{
    box-shadow: 3px 3px 3px #fff;
}
.arrival-card h3
{
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 40px;
}
.arrival-card img
{
    margin-bottom: 15px;
    margin-top: 15px;
}
.arrival-rate
{
    position: absolute;
    bottom: 25px;
    left: 20%;
}
.arrival-rate svg
{
    color: gold;
}
.arrival-rate span
{
    padding-left: 20px;
    font-size: 26px;
    font-weight: bold;
}
.arrival-rate b
{
    color: #dc3545;
    padding-right: 5px;
}
.arrival-button .btn-light
{
    display: block;
    margin: auto;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
}
/*end arrival-products*/
/*start contact section*/
.contact
{
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact h3
{
    line-height: 60px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 34px;
    padding-bottom: 50px;
}
.contact-form
{
    width: 100%;
    padding-bottom: 25px;
    background-color: #19283f;
    border-radius: 10px;
    margin-bottom: 45px;
}
.contact-form #name,
.contact-form #number,
.contact-form #mail,
.contact-form #message
{
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    height: 45px;
    border: transparent;
    outline: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 10px;
    border-radius: 5px;
}
.contact-form #message
{
    height: 150px;
    padding-top: 15px;
}
.contact-form #send
{
    width: 140px;
    height: 40px;
    background-color: #dc3545;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    border: transparent;
    outline: transparent;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.contact-img img
{
    width: 100%;
    margin-top: 50px;
}
/*end contact section*/
/*start footer*/
footer
{
    width: 100%;
    background-color: #212529;
    color: #fff;
    padding-top: 50px;
}
.foot-one img
{
    border: 1px dotted #ddd;
    margin-bottom: 25px;
    padding: 8px;
    border-radius: 5px;
    padding-left: 20px;
}
.foot-one p
{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.foot-two .foot-phone
{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
}
.foot-two h3
{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 45px;
    padding-left: 20px;
}
.foot-location
{
    display: flex;
}
.foot-location svg
{
    margin: 8px;
    color: #dc3545;
    font-size: 22px;
}
.foot-three .foot-phone
{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
}
.foot-three h3
{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 45px;
    padding-left: 20px;
}
.foot-three .company-links a
{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 25px;
}
.foot-four .foot-icons
{
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}
.foot-icons img
{
    margin-right: 12px;
}
.foot-four h3
{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 45px;
    padding-left: 20px;
}
.foot-four .company-links a
{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 25px;
}
.foot-five h3
{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 45px;
    padding-top: 25px;
}
.foot-five #selter-mail
{
    border-radius: 5px;
    border: transparent;
    outline: transparent;
    height: 40px;
    padding-left: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 15px;
}
.foot-five #selter-sub
{
    padding: 8px 15px;
    background-color: #dc3545;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: block;
    margin: auto;
    border: transparent;
    outline: transparent;
    border-radius: 5px;
    margin-bottom: 15px;
}
.copy-right
{
    width: 100%;
    height: 45px;
    background-color: #dc3545;
    color: #fff;
}
.copy-right p
{
    text-align: center;
    line-height: 45px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
/*end footer*/
/*start scroll top*/
.scroll-top
{
    position: fixed;
    bottom: 25px;
    right: 35px;
}
.scroll-top a
{
    padding: 12px;
    color: #fff;
    background-color: #d63384;
    text-align: center;
    border-radius: 10px;
    display: none;
}
/*end scroll top*/
/*start collection html style*/
.collection-head
{
    padding-bottom: 0px;
}
.collection-header
{
    width: 100%;
    height: 90px;
    background-color: #dc3545;
    color: #fff;
    text-align: center;
}
.collection-header h2
{
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 90px;
}