*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --h1size:  50px;
    --h2size:  40px;
    --h3size:  24px;
    --h4size:  20px;
    --h5size:  18px;
    --h6size:  16px;
    --bodysize:  16px;
    --h1height:  58px;
    --h2height:  48px;
    --h3height:  32px;
    --h4height:  28px;
    --h5height:  26px;
    --h6height:  26px;
    --bodyheight:  26px;
    --pfamily:  "Rubik", sans-serif;
    --red:  #ff3838;
    --gray:  #777777;
    --text:  #555555;
    --blue:  #1494a9;
    --white:  #ffffff;
    --chalk:  #f5f5f5;
    --green:  #11b76b;
    --purple:  #b12fad;
    --orange:  #e86121;
    --yellow:  #ffab10;
    --body:  #f5f6f7;
    --border:  #e8e8e8;
    --heading:  #39404a;
    --primary:  #119744;
    --sub-heading:  #565765;
    --green-chalk:  #ddffd5;
    --green-dark:  #072f17;
    --gray-chalk:  #cccccc;
    --intro-bg:  #f8fffa;
    --facebook:  #3b5998;
    --linkedin:  #0e76a8;
    --twitter:  #00acee;
    --google:  #E60023;
    --instagram:  #F77737;
    --primary-bshadow:  0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    --primary-tshadow:  2px 3px 8px rgba(0, 0, 0, 0.1) ;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
}
html
{
    scroll-behavior: smooth;
}
body
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
a:hover
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
/* end global rules*/
/*start about banner*/
.offer-banner
{
    background-image: url(../images/single-banner.jpg);
    position: relative;
    top: 140px;
    height: 40vh;
}
.offer-header
{
    text-align: center;
    margin-top: 10vh;
}
.offer-header h3
{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    line-height: 60px;
}
.offer-header p
{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.offer-header a
{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-right: 20px;
}
.offer-header a:hover
{
    color: #11b76b;
}
@media(max-width:1199px)
{
    .offer-banner
    {
        top: 100px;
    }
}
@media(max-width:991px)
{
    .offer-banner
    {
        top: 81px;
    }
}
@media(max-width:767px)
{
    .offer-header h3
    {
        font-size: 20px;
        line-height: 35px;
    }
    .offer-header p
    {
        font-size: 14px;
        line-height: 20px;
    }
}
@media(max-width:400px)
{
    .offer-banner
    {
        top: 55px;
    }
    .offer-header p
    {
        font-size: 11px;
        line-height: 20px;
    }
}
/*end about banner*/
/*start offers section*/
.offers
{
    position: relative;
    top: 150px;
    width: 100%;
    background-color: #ddd;
    padding-top: 100px;
}
.offer-card 
{
    margin-bottom: 30px;
}
.offer-card .offer-img img
{
    width: 97%;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 15px;
}
.offer-text
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.offer-text p
{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 4px;
}
.offer-text span
{
    color: #11b76b;
    font-size: 14px;
    letter-spacing: 1px;
    padding-right: 8px;
    text-transform: capitalize;
}
.offer-text small
{
    color: #11b76b;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    display: none;
    padding-right: 8px;
}
@media(max-width:1199px)
{
    .offers
    {
        top: 100px;
    }
}
@media(max-width:767px)
{
    .offer-card 
{
    display: block;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
}
.offer-text p
{
    font-size: 14px;
}
}
/*end offer section*/
/*start subscribe*/
.subscribe
{
    position: relative;
    margin-top: 180px;
}
/*end subscribe*/