*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: black;
}
body
{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
html
{
    scroll-behavior: smooth;
}
/*start head top*/
@media(max-width:991px)
{
    #header .head-top,
    #mainNavbar
    {
        display: none;
    }
    .fixed-nav
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        border-bottom: 1px solid #fff;
    }
}