/*start navbar*/
@media(max-width:767px)
{
.navbar-default .navbar-nav li
{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 3px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.navbar-nav .open .dropdown-menu>li>a
{
    line-height: 35px;
    color: black;
}
.navbar-toggle
{
    margin-top: 20px;
}
}
/*end navbar*/
/*start banner slider*/
@media(max-width:1199px)
{
    .main-slider .item
    {
        width: 100%;
    }
}
@media(max-width:991px)
{
    .main-slider
    {
        top: 100px;
    }
    .main-slider .item
    {
        text-align: center;
    }
    .banner-text h3
    {
        font-size: 26px;
    }
    .banner-button
    {
        display: block;
        margin: auto;
        margin-top: 35px;
    }
    .banner-img img
    {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 50px;
    }
}
@media(max-width:767px)
{
    header
    {
        height: 95vh;
    }
    .main-slider .item
    {
        width: 90%;
        margin-left: 5%;
    }
    .main-slider .leftslick
    {
        right: 0;
    }
    .main-slider .rightslick
    {
        left: 0;
    }
    .banner-text p
    {
        padding-left: 15px;
    }
    .banner-img img
    {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 35px;
    }
}
/*end banner slider*/
/*end header*/
/*start feature section*/
@media(max-width:767px)
{
    .soaf-img img
{
    width: 60%;
    margin-top: 90px;
}
.soaf-img .img-four
{
    width: 60%;
    margin-top: 150px;
}
}
/*end feature section*/
/*start awesome shop*/
@media(max-width:767px)
{
    .card-img img
    {
        width: 90%;
        margin-left: 5%;
    }
    .shop-card
    {
        height: 400px;
    }
}
@media(max-width:480px)
{
    .card-img img
    {
        width: 80%;
        margin-left: 10%;
    }
    .shop-card
    {
        height: 460px;
    }
}
/*end awesome shop*/
/*start subscribe*/
@media(max-width:400px)
{
    .sub-content h2
    {
        font-size: 24px;
    }
    .offer-link
    {
        font-size: 10px;
        width: 110px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }
    #days,
    #hours,
    #minutes,
    #seconds
    {
        font-size: 18px;
        text-transform: lowercase;
        margin-right: 5px;
    }
}
/*end subscribe*/
/*start brand*/
@media(max-width:1199px)
{
.brand-img
{
    border: 1px solid #ddd;
    height: 130px;
    width: 119%;
    position: relative;
}
.brand-img img
{
    width: 80%;
}
}
@media(max-width:800px)
{
.brand-img
{
    border: 1px solid #ddd;
    height: 130px;
    width: 100%;
    position: relative;
}
.brand-img img
{
    width: 80%;
    height: 80%;
}
}
/*end brand*/
/*start footer*/
@media(max-width:991px)
{
    .copyright
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width:430px)
{
    #selt-email
    {
        width: 100%;
    }
    .seltter-button a
    {
        display: block;
        margin: auto;
        width: 50%;
        text-align: center;
    }
}
/*end footer*/