:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*end global rules*/
/*start headtop*/
.head-top {
  background-color: #ddd;
}

.head-top .top-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.head-top .top-links a {
  color: #777;
  margin-right: 25px;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 30px;
}

.head-top .top-links a:hover {
  color: orangered;
}

.head-top .top-links svg {
  padding-right: 8px;
}

.head-top .select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.head-top .select-group .dropdown {
  margin-right: 20px;
  margin-top: 10px;
}

.head-top .select-group .dropdown .dropdown-menu {
  text-align: center;
}

/*end headtop*/
/*start mid top*/
.mid-top {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 35px;
}

.mid-top .mid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mid-top .mid-logo img {
  margin-top: 15px;
}

.mid-top .basket-shop {
  border: 1px solid #ddd;
  height: 50px;
  margin-top: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #777;
  cursor: pointer;
}

.mid-top .basket-shop:hover {
  background-color: blue;
}

.mid-top .basket-shop:hover p {
  color: #fff;
}

.mid-top .basket-shop:hover svg {
  color: #fff;
}

.mid-top .basket-shop:hover .basket-num {
  background-color: #fff;
  color: blue;
}

.mid-top .basket-shop p {
  line-height: 50px;
  padding-left: 5px;
  font-weight: bold;
}

.mid-top .basket-shop svg {
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 5px;
}

.mid-top .basket-shop .basket-num {
  position: absolute;
  right: -5px;
  top: -15px;
  background-color: #777;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
}

/*end mid top*/
/*start navbar*/
.navbar {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.navbar .navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar .navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item a.active {
  background-color: aqua;
  color: #fff;
}

.navbar .navbar-nav .nav-item a:hover {
  background-color: aqua;
  color: #fff;
}

/*end navbar*/
/*start home section*/
.home {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.home .slickslider .item .slick-img {
  display: block;
  margin: auto;
}

.home .slickslider .slick-text {
  text-align: center;
  padding-top: 130px;
  display: none;
}

.home .slickslider .slick-text h3 {
  font-weight: bold;
  font-size: 32px;
}

.home .slickslider .slick-text b {
  color: #0dcaf0;
  padding-left: 5px;
}

.home .slickslider .slick-text span {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.home .slickslider .slick-link {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.home .slickslider .slick-link a {
  color: #777;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}

.home .slickslider .slick-link a:hover {
  color: #0d6efd;
}

.home .slickslider .slick-link a:hover svg {
  -webkit-transform: translateX(140px);
          transform: translateX(140px);
}

.home .slickslider .slick-link svg {
  color: #0dcaf0;
  padding-right: 20px;
  position: absolute;
  left: -40px;
  top: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.home .slickslider .leftslick {
  position: absolute;
  border: transparent;
  outline: transparent;
  color: #0dcaf0;
  background-color: transparent;
  font-size: 26px;
}

.home .slickslider .rightslick {
  position: absolute;
  z-index: 999;
  border: transparent;
  outline: transparent;
  color: #0dcaf0;
  background-color: transparent;
  font-size: 26px;
}

.home .slickslider .leftslick {
  top: 50%;
  right: -5px;
}

.home .slickslider .rightslick {
  top: 50%;
  left: -5px;
}

.home .slickslider .slick-dots {
  position: absolute;
  bottom: -55px;
}

.home .slickslider .slick-dots li button::before {
  width: 25px;
  height: 25px;
  color: #0d6efd;
  background-color: #0d6efd;
  border-radius: 50%;
  margin-right: 25px;
  font-size: 5px;
}

/*end home section*/
/*start features*/
.features {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features .feature-card {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
  margin-bottom: 10px;
  cursor: pointer;
}

.features .feature-card svg {
  margin-bottom: 15px;
  font-size: 34px;
}

.features .feature-card p {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.features .feature-card.one {
  background-color: #0d6efd;
}

.features .feature-card.one:hover {
  background-color: #343a40;
}

.features .feature-card.two {
  background-color: #ffc107;
}

.features .feature-card.two:hover {
  background-color: #495057;
}

.features .feature-card.three {
  background-color: #d63384;
}

.features .feature-card.three:hover {
  background-color: #777;
}

.features .feature-card.four {
  background-color: #0dcaf0;
}

.features .feature-card.four:hover {
  background-color: #212529;
}

/*end features*/
/*start products*/
.products {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.products .main-head {
  text-align: center;
  padding-bottom: 60px;
}

.products .main-head h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: lighter;
}

.products .products-slider {
  width: 100%;
  padding-bottom: 100px;
}

.products .products-slider .leftslick {
  position: absolute;
  border: transparent;
  outline: transparent;
  color: #0dcaf0;
  background-color: transparent;
  font-size: 26px;
}

.products .products-slider .rightslick {
  position: absolute;
  z-index: 999;
  border: transparent;
  outline: transparent;
  color: #0dcaf0;
  background-color: transparent;
  font-size: 26px;
}

.products .products-slider .leftslick {
  top: 50%;
  right: -5px;
}

.products .products-slider .rightslick {
  top: 50%;
  left: -10px;
}

.products .products-slider .slick-dots {
  position: absolute;
  bottom: -55px;
}

.products .products-slider .slick-dots li button::before {
  width: 15px;
  height: 15px;
  color: #0d6efd;
  background-color: #0d6efd;
  border-radius: 50%;
  margin-right: 25px;
  font-size: 5px;
}

.products .product-card {
  -webkit-box-shadow: 3px 3px 3px #ddd;
          box-shadow: 3px 3px 3px #ddd;
  padding: 15px;
  -webkit-transition: .8s;
  transition: .8s;
  width: 90%;
  margin-right: 25px;
}

.products .product-card:hover .product-land {
  display: block;
}

.products .product-card .product-img {
  position: relative;
}

.products .product-card .product-img img {
  width: 90%;
  margin-left: 5%;
}

.products .product-card .product-land {
  position: absolute;
  left: 5%;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-transition: .8s;
  transition: .8s;
  display: none;
}

.products .product-card .product-land .card-add {
  padding-top: 40%;
}

.products .product-card .product-land .card-add a {
  background-color: #0dcaf0;
  padding: 10px 22px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.products .product-card .product-land .card-add a:hover {
  background-color: #212529;
  color: #0dcaf0;
}

.products .product-card .product-land .card-add svg {
  padding-right: 10px;
}

.products .product-card .product-land .card-details {
  margin-top: 30px;
}

.products .product-card .product-land .card-details a {
  background-color: #0dcaf0;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.products .product-card .product-land .card-details a:hover {
  background-color: #212529;
  color: #0dcaf0;
}

.products .product-card .product-land .card-details svg {
  padding-right: 10px;
}

.products .product-card .product-info {
  text-align: center;
  padding-top: 10px;
}

.products .product-card .product-info a {
  color: #333;
  padding-right: 35px;
  letter-spacing: 1px;
  display: block;
}

.products .product-card .product-info span {
  color: #0d6efd;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.products .product-card .product-info del {
  color: black;
  padding-left: 25px;
}

/*end products*/
/*start brand*/
.brand {
  padding-bottom: 50px;
}

.brand .brand-slider .leftslick, .brand .brand-slider .rightslick {
  position: absolute;
  z-index: 9999;
  top: -10px;
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
  border-radius: 5px;
  padding: 4px 12px;
  text-align: center;
  outline: transparent;
}

.brand .brand-slider .leftslick {
  right: 15px;
}

.brand .brand-slider .rightslick {
  left: 15px;
}

.brand .brand-slider .brand-img img {
  border: 2px solid #ddd;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-right: 15px;
}

/*end brand*/
/*start top-sellers section*/
.top-sellers {
  width: 100%;
}

.top-sellers .sellers-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.top-sellers .sellers-head h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: lighter;
}

.top-sellers .sellers-head .btn-primary {
  text-transform: capitalize;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.top-sellers .sellers-head .btn-primary:hover {
  background-color: #212529;
  border-color: #212529;
}

.top-sellers .sellers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: 15px;
}

.top-sellers .sellers-card .sellers-content a {
  color: #212529;
  text-transform: capitalize;
  line-height: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.top-sellers .sellers-card .sellers-content a:hover {
  color: #0d6efd;
}

.top-sellers .sellers-card .card-rate {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-sellers .sellers-card .card-rate svg {
  color: gold;
}

.top-sellers .sellers-card .card-sallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-sellers .sellers-card .card-sallery span {
  font-weight: bold;
  color: #0d6efd;
}

.top-sellers .sellers-card .card-sallery del {
  color: #777;
}

/*end top-sellers  section*/
/*start footer*/
footer {
  width: 100%;
  background-color: #212529;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .foot-socials {
  margin-bottom: 30px;
}

footer .foot-socials h3 {
  color: #0d6efd;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: lighter;
  line-height: 45px;
}

footer .foot-socials b {
  font-weight: bold;
  color: #777;
}

footer .foot-socials p {
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}

footer .foot-socials .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .foot-socials .social-icons li {
  margin-right: 15px;
  margin-bottom: 10px;
}

footer .foot-socials .social-icons a {
  font-size: 26px;
  background-color: #0d6efd;
  padding: 4px 8px;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .foot-socials .social-icons a:hover {
  color: #0dcaf0;
  background-color: #777;
}

footer .navigation, footer .category {
  margin-bottom: 30px;
}

footer .navigation h3, footer .category h3 {
  color: #777;
  text-transform: capitalize;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  line-height: 45px;
}

footer .navigation .nav-links, footer .category .nav-links, footer .category .category-links {
  margin-top: 10px;
}

footer .navigation .nav-links li, footer .category .nav-links li, footer .category .category-links li {
  border-bottom: 1px  dotted #777;
  padding-bottom: 5px;
}

footer .navigation .nav-links a, footer .category .nav-links a, footer .category .category-links a {
  color: #777;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .navigation .nav-links a:hover, footer .category .nav-links a:hover, footer .category .category-links a:hover {
  color: #0d6efd;
}

footer .category {
  margin-bottom: 30px;
}

footer .category h3 {
  color: #777;
  text-transform: capitalize;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 45px;
  padding-right: 70px;
}

footer .newsellter h3 {
  color: #777;
  text-transform: capitalize;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 45px;
  padding-right: 70px;
}

footer .newsellter p {
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}

footer .newsellter #sellter-mail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 5px;
  letter-spacing: 1px;
  outline: transparent;
  border: transparent;
  color: black;
}

footer .newsellter .btn-success {
  padding: 6px 24px;
}

.copy-right {
  background-color: black;
}

.copy-right .copy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 15px;
}

.copy-right .copy-content p {
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 15px;
}

.copy-right .copy-content a {
  text-transform: none;
  letter-spacing: 1px;
  padding-left: 5px;
  font-size: 14px;
}

.copy-right .copy-content .copy-carts svg {
  font-size: 30px;
  margin-left: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.copy-right .copy-content .copy-carts svg:hover {
  color: #777;
}

/*end footer*/
/*# sourceMappingURL=main.css.map */