:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*end global rules*/
.shop .shop-head {
  text-align: center;
  background-color: #0d6efd;
  margin-bottom: 70px;
}

.shop .shop-head h2 {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: lighter;
  font-size: 48px;
}

.shop .search-content h4 {
  color: #fd7e14;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: lighter;
  font-size: 34px;
  padding-bottom: 20px;
}

.shop .search-content #pro-search {
  width: 100%;
  border: 1px solid #ddd;
  outline: transparent;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 5px;
}

.shop .search-content .btn-primary {
  padding: 6px 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.shop .products-detalis h3 {
  color: #fd7e14;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: lighter;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.shop .products-detalis .products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.shop .products-detalis .products-card img {
  width: 25%;
}

.shop .products-detalis .products-card .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop .products-detalis .products-card .card-link a {
  color: black;
  padding-bottom: 20px;
}

.shop .products-detalis .products-card .card-link span {
  font-weight: bold;
  color: #0d6efd;
}

.shop .products-detalis .products-card .card-link del {
  color: black;
  padding-left: 50px;
}

.shop .import-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
}

.shop .import-links a {
  padding-right: 5px;
  line-height: 40px;
}

.shop .gallery {
  width: 100%;
}

.shop .gallery .main-img img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.shop .gallery .thumbnails img {
  width: calc(100%/3.5);
  margin-bottom: 25px;
}

.shop .gallery .thumbnails img.active {
  border: 1px solid #0d6efd;
}

.shop .sony-info > h3 {
  color: #fd7e14;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: lighter;
  font-size: 30px;
  padding-bottom: 5px;
}

.shop .sony-info > span {
  font-weight: bold;
  color: #0d6efd;
}

.shop .sony-info del {
  color: black;
  padding-left: 50px;
}

.shop .sony-info .sony-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop .sony-info .sony-input #number {
  width: 25%;
  height: 30px;
}

.shop .sony-info .sony-input .btn-info {
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 4px 14px;
  margin-left: 25px;
}

.shop .sony-info .sony-input p {
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-top: 15px;
}

.shop .sony-info .sony-input a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.shop .sony-info .sony-prev {
  position: relative;
}

.shop .sony-info .sony-prev .prev-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 5px;
}

.shop .sony-info .sony-prev .prev-button .btn {
  margin-right: 8px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.shop .sony-info .sony-prev .description-product {
  position: absolute;
  z-index: 9999;
}

.shop .sony-info .sony-prev .description-product h3 {
  color: #fd7e14;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: lighter;
  font-size: 20px;
}

.shop .sony-info .sony-prev .description-product p {
  font-size: 14px;
  letter-spacing: .8px;
}

.shop .sony-info .sony-prev .prev-product {
  position: absolute;
  width: 100%;
  z-index: 9999;
  display: none;
}

.shop .sony-info .sony-prev .prev-product h3 {
  color: #fd7e14;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: bold;
  font-size: 20px;
}

.shop .sony-info .sony-prev .prev-product label {
  display: block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
}

.shop .sony-info .sony-prev .prev-product input {
  width: 100%;
  height: 35px;
  outline-color: #0d6efd;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.shop .sony-info .sony-prev .prev-product .rating p {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.shop .sony-info .sony-prev .prev-product .rating svg {
  color: gold;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.shop .sony-info .sony-prev .prev-product .rating svg:last-child {
  color: #ddd;
}

.shop .sony-info .sony-prev .prev-product #prev-message {
  width: 100%;
  height: 100px;
  outline-color: #0d6efd;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.shop .sony-info .sony-prev .prev-product #prev-submit {
  width: 25%;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*start related products*/
.recent-post {
  padding-top: 60px;
  padding-bottom: 60px;
}

.recent-post h3 {
  color: #fd7e14;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.recent-post .posts li {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 4px;
  margin-bottom: 15px;
}

.recent-post .posts a {
  letter-spacing: 1.2px;
}

.related-products {
  margin-top: 200px;
}

.related-products h3 {
  color: #fd7e14;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 50px;
}

.related-products .product-card {
  -webkit-box-shadow: 3px 3px 3px #ddd;
          box-shadow: 3px 3px 3px #ddd;
  padding: 15px;
  -webkit-transition: .8s;
  transition: .8s;
  width: 90%;
  margin-right: 25px;
}

.related-products .product-card:hover .product-land {
  display: block;
}

.related-products .product-card .product-img {
  position: relative;
}

.related-products .product-card .product-img img {
  width: 100%;
}

.related-products .product-card .product-land {
  position: absolute;
  left: 5%;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-transition: .8s;
  transition: .8s;
  display: none;
}

.related-products .product-card .product-land .card-add {
  padding-top: 40%;
}

.related-products .product-card .product-land .card-add a {
  background-color: #0dcaf0;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 4px 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

.related-products .product-card .product-land .card-add a:hover {
  background-color: #212529;
  color: #0dcaf0;
}

.related-products .product-card .product-land .card-add svg {
  padding-right: 2px;
}

.related-products .product-card .product-land .card-details {
  margin-top: 30px;
}

.related-products .product-card .product-land .card-details a {
  background-color: #0dcaf0;
  color: #fff;
  text-transform: capitalize;
  padding: 4px 6px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.related-products .product-card .product-land .card-details a:hover {
  background-color: #212529;
  color: #0dcaf0;
}

.related-products .product-card .product-land .card-details svg {
  padding-right: 2px;
}

.related-products .product-card .product-info {
  text-align: center;
  padding-top: 10px;
}

.related-products .product-card .product-info a {
  color: #333;
  letter-spacing: 1px;
  display: block;
}

.related-products .product-card .product-info span {
  color: #0d6efd;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.related-products .product-card .product-info del {
  color: black;
  padding-left: 25px;
}

.related-products .related-slider {
  padding-top: 10px;
  padding-bottom: 60px;
}

.related-products .related-slider .leftslick, .related-products .related-slider .rightslick {
  position: absolute;
  z-index: 9999;
  right: 15px;
  top: -45px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  padding: 4px 8px;
  color: #fff;
  text-transform: capitalize;
}

.related-products .related-slider .rightslick {
  right: 85px;
}
/*# sourceMappingURL=product.css.map */