* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  transition: .6s;
}

a:hover {
  color: #F3112D;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*start anim*/
/*start scroll to top*/
@-webkit-keyframes img-anim {
  from {
    left: 2%;
  }
  to {
    left: 12%;
  }
}

@keyframes img-anim {
  from {
    left: 2%;
  }
  to {
    left: 12%;
  }
}

@-webkit-keyframes text-anim {
  from {
    top: 15%;
    opacity: .4;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@keyframes text-anim {
  from {
    top: 15%;
    opacity: .4;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@-webkit-keyframes box-anim {
  from {
    box-shadow: 0px 0px 10px #ddd;
  }
  to {
    box-shadow: 0px 0px 30px #ddd;
  }
}

@keyframes box-anim {
  from {
    box-shadow: 0px 0px 10px #ddd;
  }
  to {
    box-shadow: 0px 0px 30px #ddd;
  }
}

/*end anim*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/*end global rules*/
/*start head top*/
.head-top {
  background-color: #F3112D;
}

.head-top .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.head-top .head-links a, .head-top .social-icons a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.head-top .head-links a:hover, .head-top .social-icons a:hover {
  color: #777;
}

.head-top .social-icons a {
  border-right: transparent;
}

.head-top .currency, .head-top .language {
  width: 150px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.head-top .currency option, .head-top .language option {
  color: #777;
}

.head-top .head-select a {
  color: #fff;
  padding-left: 15px;
  font-size: 14px;
  transition: .6s;
}

.head-top .head-select a:hover {
  color: #777;
}

.head-top .head-select svg {
  padding-right: 8px;
}

/*end haed top*/
/*start head nav*/
.head-nav {
  width: 100%;
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

.head-nav .my-nav .navbar {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  position: relative;
  background-color: #fff;
  padding-bottom: 25px;
}

.head-nav .my-nav .navbar .brand {
  margin-right: 10px;
}

.head-nav .my-nav .navbar .brand img {
  display: block;
  margin: auto;
}

.head-nav .my-nav .navbar .nav-item {
  margin-right: 15px;
  position: relative;
}

.head-nav .my-nav .navbar .nav-item a {
  color: #777;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.head-nav .my-nav .navbar .nav-item a:hover {
  color: #F3112D;
}

.head-nav .my-nav .navbar .nav-item svg {
  padding-left: 8px;
}

.head-nav .my-nav .cart-icons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding: 20px 0px;
  position: relative;
  background-color: #fff;
}

.head-nav .my-nav .cart-icons a {
  color: #777;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 15px;
}

.head-nav .my-nav .cart-icons a:hover {
  color: #F3112D;
}

.head-nav .my-nav .cart-icons svg {
  padding-right: 10px;
}

.head-nav .my-nav .cart-icons .cart-menu {
  position: absolute;
  z-index: 999999999;
  background-color: #fff;
  box-shadow: 0px 0px 10px #C70039;
  width: 430px;
  height: 70vh;
  overflow-y: auto;
  right: 100px;
  top: 80px;
  border-top: 5px solid #C70039;
  display: none;
}

.head-nav .my-nav .cart-icons .cart-menu .menu-close {
  position: absolute;
  z-index: 99999999;
  font-size: 22px;
  top: -5px;
  left: 48%;
  color: #C70039;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes {
  display: flex;
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes img {
  margin-left: 25px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes .cart-edit {
  position: absolute;
  right: 10px;
  top: 15px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes .cart-edit a:first-child:hover {
  color: green;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes .cart-edit a:last-child:hover {
  color: #C70039;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes a {
  color: black;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes p {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes del {
  font-size: 18px;
  color: #777;
  padding-left: 15px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes span {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-detailes input {
  border: transparent;
  outline: transparent;
  width: 100px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-buttons {
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 30px 0px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-buttons a:first-child {
  background-color: #C70039;
  border: 1px solid #C70039;
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  transition: .5s;
  font-size: 14px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-buttons a:first-child:hover {
  background-color: #fff;
  color: #C70039;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-buttons a:last-child {
  background-color: #777;
  border: 1px solid #777;
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  transition: .5s;
  font-size: 14px;
  margin-left: 15px;
}

.head-nav .my-nav .cart-icons .cart-menu .cart-buttons a:last-child:hover {
  background-color: #fff;
  color: #777;
}

.head-nav .my-nav .shop-menu, .head-nav .my-nav .demo-menu, .head-nav .my-nav .blog-menu {
  position: absolute;
  z-index: 99999;
  top: 60px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px 20px;
  box-shadow: 0px 0px 12px #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: none;
}

.head-nav .my-nav .shop-menu .flex-menu li, .head-nav .my-nav .demo-menu .flex-menu li, .head-nav .my-nav .blog-menu .flex-menu li {
  margin-bottom: 20px;
}

.head-nav .my-nav .shop-menu .flex-menu li h5, .head-nav .my-nav .demo-menu .flex-menu li h5, .head-nav .my-nav .blog-menu .flex-menu li h5 {
  color: #F3112D;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
}

.head-nav .my-nav .shop-menu .flex-menu li a, .head-nav .my-nav .demo-menu .flex-menu li a, .head-nav .my-nav .blog-menu .flex-menu li a {
  color: #777;
  font-size: 12px;
}

.head-nav .my-nav .product-menu {
  position: absolute;
  z-index: 99999;
  width: 270px;
  top: 60px;
  padding: 10px 20px;
  box-shadow: 0px 0px 12px #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: none;
}

.head-nav .my-nav .product-menu .flex-menu li {
  margin-bottom: 10px;
}

.head-nav .my-nav .product-menu .flex-menu li a {
  color: #777;
  font-size: 13px;
}

.head-nav .my-nav .product-menu .right-toggle-one,
.head-nav .my-nav .product-menu .right-toggle-two {
  position: relative;
}

.head-nav .my-nav .product-menu .right-toggle-one .right-menu-one,
.head-nav .my-nav .product-menu .right-toggle-two .right-menu-one {
  position: absolute;
  z-index: 99999;
  right: -215px;
  top: 0px;
  box-shadow: 0px 0px 12px #ddd;
  border-radius: 10px;
  padding: 6px;
  background-color: #fff;
  display: none;
}

.head-nav .my-nav .product-menu .right-toggle-one .right-menu-two,
.head-nav .my-nav .product-menu .right-toggle-two .right-menu-two {
  position: absolute;
  z-index: 99999;
  right: -185px;
  top: 0px;
  box-shadow: 2px 2px 2px #ddd;
  padding: 6px;
  background-color: #fff;
  display: none;
}

.head-nav .my-nav .demo-menu {
  left: -355px;
}

.head-nav .my-nav .blog-menu {
  width: 340px;
}

/*end head nav*/
/*start head search*/
.head-search {
  position: relative;
  width: 100%;
  padding-top: 15px;
  border-bottom: 1px solid #ddd;
}

.department {
  position: relative;
  width: 220px;
  margin-top: 15px;
}

.department > a {
  background-color: #F3112D;
  padding: 12px 14px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
}

.department > a svg {
  padding: 0px 5px;
}

.department .department-menu {
  position: absolute;
  z-index: 99999;
  top: 35px;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ddd;
  display: none;
}

.department .department-menu li {
  width: 100%;
  border-bottom: 1px dotted #ddd;
  margin: 12px 5px;
  padding-bottom: 10px;
}

.department .department-menu svg {
  padding-right: 10px;
}

.department .department-menu a {
  padding-left: 10px;
  font-size: 16px;
  color: black;
}

.department .department-menu a:hover {
  color: #F3112D;
}

/*start depart search*/
.depart-search {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 25px;
}

.depart-search input {
  width: 60%;
  height: 50px;
  border: transparent;
  outline: transparent;
  padding-left: 10px;
}

.depart-search .depart-list {
  height: 50px;
  border: transparent;
  outline: transparent;
  text-align: center;
  text-transform: capitalize;
}

.depart-search a {
  padding-left: 20px;
  font-size: 20px;
  color: green;
}

.phone-number {
  padding-left: 15px;
}

.phone-number a {
  font-size: 14px;
  font-weight: bold;
  color: #F3112D;
}

.phone-number p {
  font-size: 12px;
  color: #777;
  font-weight: bold;
}

/*end depart search*/
/*end head search*/
/*start navbar for mobile*/
@media (min-width: 768px) {
  .mob-nav {
    display: none;
  }
  .shopinng-menu {
    display: none;
  }
  .search-it {
    display: none;
  }
  .search-box {
    display: none;
  }
}

@media (max-width: 767px) {
  .mob-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 40px;
  }
  .shopinng-bag {
    position: absolute;
    right: 70px;
    top: 40px;
    font-size: 20px;
    color: black;
  }
  .shopinng-bag:hover {
    color: #C70039;
  }
  .search-it {
    position: absolute;
    right: 110px;
    top: 40px;
    font-size: 20px;
    color: black;
  }
  .search-it:hover {
    color: #F3112D;
  }
  .mob-menu {
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 20px;
    color: black;
  }
  .mob-menu:hover {
    color: #F3112D;
  }
  .search-box {
    width: 280px;
    height: 220px;
    border-top: 3px solid #C70039;
    background-color: #fff;
    box-shadow: 2px 2px 2px #ddd;
    position: absolute;
    top: 30vh;
    left: 20%;
    z-index: 99999;
    display: none;
  }
  .search-box .search-close {
    background-color: transparent;
    color: #777;
    margin: 0;
    margin-left: 220px;
    margin-top: 5px;
    font-size: 22px;
    padding: 0;
    border: transparent;
    transition: .6s;
    width: 15%;
  }
  .search-box .search-close:hover {
    color: #C70039;
  }
  .search-box input {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: transparent;
    outline: transparent;
    height: 40px;
    border-bottom: 1px solid #ddd;
  }
  .search-box .depart-list {
    width: 60%;
    margin-left: 5%;
    border: transparent;
    outline: transparent;
  }
  .search-box a {
    background-color: #C70039;
    border: 1px solid #C70039;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    display: block;
    padding: 8px 0px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5%;
    margin-top: 25px;
    transition: .6s;
  }
  .search-box a:hover {
    background-color: #fff;
    color: #C70039;
  }
  .shopinng-menu {
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    width: 240px;
    height: 70vh;
    overflow-y: auto;
    right: 20px;
    top: 80px;
    border-top: 5px solid #C70039;
    display: none;
  }
  .shopinng-menu .cart-detailes {
    display: flex;
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .shopinng-menu .cart-detailes img {
    margin-left: 5px;
    margin-right: 5px;
    width: 18%;
  }
  .shopinng-menu .cart-detailes .cart-edit {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
  .shopinng-menu .cart-detailes .cart-edit a:first-child:hover {
    color: green;
  }
  .shopinng-menu .cart-detailes .cart-edit a:last-child:hover {
    color: #C70039;
  }
  .shopinng-menu .cart-detailes a {
    color: black;
    font-size: 12px;
  }
  .shopinng-menu .cart-detailes p {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .shopinng-menu .cart-detailes del {
    font-size: 12px;
    color: #777;
    padding-left: 15px;
  }
  .shopinng-menu .cart-detailes span {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
  }
  .shopinng-menu .cart-detailes input {
    border: transparent;
    outline: transparent;
    width: 60px;
  }
  .shopinng-menu .cart-buttons {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 10px 0px;
  }
  .shopinng-menu .cart-buttons a:first-child {
    background-color: #C70039;
    border: 1px solid #C70039;
    color: #fff;
    padding: 10px 16px;
    border-radius: 10px;
    transition: .5s;
    font-size: 12px;
  }
  .shopinng-menu .cart-buttons a:first-child:hover {
    background-color: #fff;
    color: #C70039;
  }
  .shopinng-menu .cart-buttons a:last-child {
    background-color: #777;
    border: 1px solid #777;
    color: #fff;
    padding: 10px 16px;
    border-radius: 10px;
    transition: .5s;
    font-size: 12px;
    margin-left: 15px;
  }
  .shopinng-menu .cart-buttons a:last-child:hover {
    background-color: #fff;
    color: #777;
  }
}

/*start mobile home panel*/
@media (max-width: 767px) {
  .mobile-home {
    position: relative;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
  }
  .home-list {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
  }
  .home-list .list-head, .home-list .shop-mobile-menu .shop-head, .shop-mobile-menu .home-list .shop-head, .home-list .product-mobile-menu .product-head, .product-mobile-menu .home-list .product-head, .home-list .demo-mobile-menu .product-head, .demo-mobile-menu .home-list .product-head, .home-list .blog-mobile-menu .product-head, .blog-mobile-menu .home-list .product-head, .home-list .demo-mobile-menu .demo-head, .demo-mobile-menu .home-list .demo-head, .home-list .blog-mobile-menu .blog-head, .blog-mobile-menu .home-list .blog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
  }
  .home-list .list-head h3, .home-list .shop-mobile-menu .shop-head h3, .shop-mobile-menu .home-list .shop-head h3, .home-list .product-mobile-menu .product-head h3, .product-mobile-menu .home-list .product-head h3, .home-list .demo-mobile-menu .product-head h3, .demo-mobile-menu .home-list .product-head h3, .home-list .blog-mobile-menu .product-head h3, .blog-mobile-menu .home-list .product-head h3, .home-list .demo-mobile-menu .demo-head h3, .demo-mobile-menu .home-list .demo-head h3, .home-list .blog-mobile-menu .blog-head h3, .blog-mobile-menu .home-list .blog-head h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 12px 0px 10px 90px;
    font-weight: bold;
    text-align: center;
    color: #777;
  }
  .home-list .list-head a, .home-list .shop-mobile-menu .shop-head a, .shop-mobile-menu .home-list .shop-head a, .home-list .product-mobile-menu .product-head a, .product-mobile-menu .home-list .product-head a, .home-list .demo-mobile-menu .product-head a, .demo-mobile-menu .home-list .product-head a, .home-list .blog-mobile-menu .product-head a, .blog-mobile-menu .home-list .product-head a, .home-list .demo-mobile-menu .demo-head a, .demo-mobile-menu .home-list .demo-head a, .home-list .blog-mobile-menu .blog-head a, .blog-mobile-menu .home-list .blog-head a {
    font-size: 19px;
    padding-right: 15px;
    margin-bottom: 5px;
    color: #777;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    transition: .6s;
  }
  .home-list .list-head a:hover, .home-list .shop-mobile-menu .shop-head a:hover, .shop-mobile-menu .home-list .shop-head a:hover, .home-list .product-mobile-menu .product-head a:hover, .product-mobile-menu .home-list .product-head a:hover, .home-list .demo-mobile-menu .product-head a:hover, .demo-mobile-menu .home-list .product-head a:hover, .home-list .blog-mobile-menu .product-head a:hover, .blog-mobile-menu .home-list .product-head a:hover, .home-list .demo-mobile-menu .demo-head a:hover, .demo-mobile-menu .home-list .demo-head a:hover, .home-list .blog-mobile-menu .blog-head a:hover, .blog-mobile-menu .home-list .blog-head a:hover {
    color: #F3112D;
  }
  .home-list .panel-links li {
    width: 100%;
    border-bottom: 2px dotted #ddd;
    padding: 15px;
    position: relative;
    transition: .6s;
    cursor: pointer;
  }
  .home-list .panel-links a {
    color: #777;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .home-list .panel-links a:hover,
  .home-list .panel-links a:hover svg {
    color: #0cbaa6;
  }
  .home-list .panel-links svg {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #777;
    font-size: 14px;
  }
}

/*end mobile home panel*/
/*start shop mobile menu*/
@media (max-width: 767px) {
  .shop-mobile-menu {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
  }
  .shop-mobile-menu .shop-head .back-home {
    position: absolute;
    left: 10px;
    top: -2px;
    transition: .5s;
  }
  .shop-mobile-menu .shop-head .back-home:hover {
    color: #C70039;
  }
  .shop-mobile-menu h5 {
    color: #F3112D;
    font-size: 17px;
    text-transform: capitalize;
  }
}

/*end shop mobile menu*/
/*start product mobile menu*/
@media (max-width: 767px) {
  .product-mobile-menu, .demo-mobile-menu, .blog-mobile-menu {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
  }
  .product-mobile-menu .product-head .back-home, .demo-mobile-menu .product-head .back-home, .blog-mobile-menu .product-head .back-home, .demo-mobile-menu .demo-head .back-home, .blog-mobile-menu .blog-head .back-home {
    position: absolute;
    left: 10px;
    top: -2px;
    transition: .5s;
  }
  .product-mobile-menu .product-head .back-home:hover, .demo-mobile-menu .product-head .back-home:hover, .blog-mobile-menu .product-head .back-home:hover, .demo-mobile-menu .demo-head .back-home:hover, .blog-mobile-menu .blog-head .back-home:hover {
    color: #C70039;
  }
  .product-mobile-menu h5, .demo-mobile-menu h5, .blog-mobile-menu h5 {
    color: #F3112D;
    font-size: 17px;
    text-transform: capitalize;
  }
}

/*end product mobile menu*/
/*start demo mobile menu*/
/*end demo mobile menu*/
/*end nav bar for mobile*/
/*start home slider*/
.home-slider {
  width: 100%;
  overflow-x: hidden;
}

.slick-slider {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.slick-slider .home-image {
  position: relative;
  width: 100%;
}

.slick-slider .home-image > img {
  width: 120%;
  background-size: cover;
  overflow: hidden;
}

.slick-slider .home-image .second-img img {
  position: absolute;
  z-index: 9999;
  width: 35%;
  top: 10%;
  left: 15%;
  animation-name: img-anim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slick-slider .home-image .slide-text {
  position: absolute;
  z-index: 99999;
  right: 15%;
  top: 25%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 40px;
  animation-name: text-anim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.slick-slider .home-image .slide-text h5 {
  font-size: 22px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  color: black;
}

.slick-slider .home-image .slide-text h3 {
  font-size: 34px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  color: black;
}

.slick-slider .home-image .slide-text p {
  font-size: 16px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  color: black;
  padding-bottom: 10px;
}

.slick-slider .home-image .slide-text .slide-shop {
  background-color: #C70039;
  color: #fff;
  border: 1px solid #C70039;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 25px;
  transition: .9s;
}

.slick-slider .home-image .slide-text .slide-shop:hover {
  background-color: #fff;
  color: #C70039;
}

.slick-slider .home-image .slide-text .slide-book {
  background-color: #0cbaa6;
  color: #fff;
  border: 1px solid #0cbaa6;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 25px;
  transition: .9s;
}

.slick-slider .home-image .slide-text .slide-book:hover {
  background-color: #fff;
  color: #0cbaa6;
}

.slick-slider .leftslick,
.slick-slider .rightslick {
  position: absolute;
  z-index: 9999;
  top: 50%;
  background-color: #fff;
  color: #777;
  padding: 15px 18px;
  border-radius: 50%;
  border: transparent;
  transition: .6s;
}

.slick-slider .leftslick:hover,
.slick-slider .rightslick:hover {
  color: #C70039;
}

.slick-slider .rightslick {
  left: 8px;
}

.slick-slider .leftslick {
  right: 8px;
}

/*end home slider*/
/*start pomegrante slider */
.pomegrante {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.pomegrante-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.pomegrante-slider .pome-img img {
  width: 100%;
}

.pomegrante-slider .pome-text {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
  position: relative;
}

.pomegrante-slider .pome-text h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 44px;
  text-transform: capitalize;
  color: black;
}

.pomegrante-slider .pome-text h4 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 26px;
  text-transform: capitalize;
  line-height: 40px;
  color: #777;
  padding-bottom: 30px;
}

.pomegrante-slider .pome-text b {
  color: black;
}

.pomegrante-slider .pome-text b::first-letter {
  text-transform: capitalize;
}

.pomegrante-slider .pome-text p {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.pomegrante-slider .pome-text span {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 28px;
  color: black;
  font-weight: bold;
  display: block;
  padding-bottom: 30px;
}

.pomegrante-slider .pome-text del {
  font-weight: normal;
  color: #F3112D;
  padding-left: 20px;
  font-size: 24px;
}

.pomegrante-slider .pome-text .pome-link {
  background-color: #C70039;
  color: #fff;
  border: 1px solid #C70039;
  padding: 8px 14px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 15px;
  transition: .5s;
}

.pomegrante-slider .pome-text .pome-link:hover {
  background-color: #F3112D;
  border-color: #F3112D;
}

/*end pomegrante slider*/
/*start fresh-fruits section*/
.fresh-fruits {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 10px;
}

.fresh-head {
  text-align: center;
}

.fresh-head h3 {
  text-transform: capitalize;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 68px;
  color: #F3112D;
  padding-bottom: 25px;
}

.biolife-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.biolife-services .serv-one {
  border: 2px solid #ddd;
  width: 30%;
  padding: 30px 15px 0px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  transition: .6s;
  cursor: pointer;
}

.biolife-services .serv-one span:first-child {
  text-align: center;
  background-color: #ddd;
  color: black;
  padding: 12px 16px;
  border-radius: 50%;
  margin-left: 10%;
}

.biolife-services .serv-one svg {
  padding-left: 45%;
  font-size: 30px;
  color: #F3112D;
  transition: .6s;
}

.biolife-services .serv-one:hover svg {
  padding-left: 30%;
  color: #C70039;
}

.biolife-services .serv-one a {
  display: block;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  color: black;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  transition: .6s;
}

.biolife-services .serv-one a:hover {
  color: #F3112D;
}

.related-head {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
}

.related-head p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  color: #777;
}

.related-head h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.products-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 65px;
}

.products-links li {
  margin-bottom: 20px;
}

.products-links img {
  width: 110px;
  display: block;
  margin-bottom: 15px;
  border-radius: 50%;
  transition: .6s;
}

.products-links a {
  color: #777;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 20px;
  transition: .6s;
}

.products-links a:hover {
  color: #F3112D;
}

.products-links a:hover img {
  background-color: #F3112D;
}

.products-links a.active {
  color: #F3112D;
}

.products-links img.active {
  background-color: #F3112D;
}

/*start related slider*/
.related, .grapess, .blueberries, .lemon, .vegtables {
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  z-index: 999999;
}

.related .leftslick, .grapess .leftslick, .blueberries .leftslick, .lemon .leftslick, .vegtables .leftslick, .related .rightslick, .grapess .rightslick, .blueberries .rightslick, .lemon .rightslick, .vegtables .rightslick {
  position: absolute;
  top: 0;
  background-color: #C70039;
  border: 1px solid #C70039;
  border-radius: 10px;
  padding: 4px 6px;
  color: #fff;
}

.related .leftslick:hover, .grapess .leftslick:hover, .blueberries .leftslick:hover, .lemon .leftslick:hover, .vegtables .leftslick:hover, .related .rightslick:hover, .grapess .rightslick:hover, .blueberries .rightslick:hover, .lemon .rightslick:hover, .vegtables .rightslick:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.related .leftslick, .grapess .leftslick, .blueberries .leftslick, .lemon .leftslick, .vegtables .leftslick {
  right: 5px;
}

.related-slider, .grapes-slider, .blueberries-slider, .lemon-slider, .vegtables-slider {
  width: 100%;
  height: 480px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.related-card {
  width: 96%;
  margin-right: 2%;
  box-shadow: 0px 0px 10px #ddd;
  margin-bottom: 15px;
  transition: 1.5s;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}

.related-card:hover {
  animation: box-anim 1.8s infinite alternate;
}

.card-img {
  position: relative;
}

.card-img img {
  width: 60%;
  display: block;
  margin: auto;
}

.card-img a {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 18px;
  color: #777;
  transition: .6s;
  display: none;
}

.card-img a:hover {
  color: #0cbaa6;
}

.card-text {
  text-align: center;
}

.card-text p {
  font-size: 17px;
  color: #777;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-family: 'Amiri', serif;
}

.card-text a {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Amiri', serif;
  line-height: 25px;
  transition: .6s;
}

.card-text a:hover {
  color: #F3112D;
}

.card-text span {
  font-size: 20px;
  font-weight: bold;
}

.card-text del {
  font-size: 16px;
  color: #777;
  padding-left: 10px;
}

.related-card:hover .card-info {
  display: block;
}

.related-card:hover .card-img a {
  display: block;
}

.card-info {
  display: none;
  padding: 20px 5px;
  transition: 1.5s;
}

.card-info p {
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  line-height: 20px;
}

.card-info .card-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info .card-btns a {
  color: #777;
  font-size: 17px;
  padding-right: 10px;
  padding-left: 10px;
  transition: .6s;
}

.card-info .card-btns a:hover {
  color: #F3112D;
}

.card-info .card-btns .btn-link {
  background-color: #F3112D;
  border: 1px solid #F3112D;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Mukta', sans-serif;
  margin-right: 5px;
  margin-left: 5px;
  transition: .6s;
}

.card-info .card-btns .btn-link:hover {
  background-color: #777;
  color: #fff;
  border-color: #777;
}

/*end related slider*/
/*start grapes slider*/
.grapess {
  visibility: hidden;
}

.blueberries {
  visibility: hidden;
}

.lemon {
  visibility: hidden;
}

.vegtables {
  visibility: hidden;
}

/*end fresh-fruits section*/
/*start slider wrapper*/
/*
.slider-wrapper
{
    position: relative;
    margin-top: 125vh;
}
*/
/*end slider wrappr*/
/*start fixed-product */
.fixed-product, .fixed-product-two {
  width: 80%;
  height: 84%;
  position: fixed;
  background-color: #fff;
  z-index: 999999999;
  top: 8%;
  left: 10%;
  border: 2px solid #ddd;
  display: flex;
  overflow-y: auto;
  display: none;
}

.close-fixed {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #777;
  font-size: 24px;
  transition: .6s;
}

.close-fixed:hover {
  color: #F3112D;
}

.gallery {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.master-img img {
  width: 50%;
  margin: 25px 25%;
  border: 2px solid #ddd;
}

.mini-img {
  width: 50%;
  display: flex;
  margin-left: 5px;
  margin-top: 20px;
}

.mini-img img {
  width: 35%;
  margin-right: 5px;
  border: 1px solid #ddd;
  transition: .6s;
  cursor: pointer;
}

.mini-img img:hover {
  border-color: #F3112D;
}

.mini-img img.active {
  border-color: #F3112D;
}

.fixed-product-info {
  padding: 25px 15px;
}

.fixed-product-info > a {
  color: black;
  text-transform: capitalize;
  font-size: 19px;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-family: 'Amiri', serif;
  transition: .6s;
}

.fixed-product-info > a:hover {
  color: #F3112D;
}

.fixed-product-info .product-rate {
  margin: 10px 0px;
}

.fixed-product-info .product-rate svg {
  color: gold;
}

.fixed-product-info .sallery {
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fixed-product-info del {
  font-size: 18px;
  color: #777;
  padding-left: 20px;
}

.fixed-product-info p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: 'Mukta', sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.fixed-product-info .cart-but {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fixed-product-info .cart-but #cart-num {
  width: 90px;
  border: 1px solid #ddd;
  outline: transparent;
  text-align: center;
  height: 35px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.fixed-product-info .cart-but a {
  background-color: #C70039;
  border: 1px solid #C70039;
  color: #fff;
  font-size: 14px;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  padding: 7px 18px;
  border-radius: 25px;
  margin-left: 5px;
  display: block;
  margin: auto;
  transition: .6s;
}

.fixed-product-info .cart-but a:hover {
  background-color: #fff;
  color: #C70039;
}

.fixed-product-info .cart-links, .fixed-product-info .tags-links, .fixed-product-info .brand-links {
  font-size: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  display: block;
}

.fixed-product-info .cart-links a, .fixed-product-info .tags-links a, .fixed-product-info .brand-links a {
  color: #777;
  padding-left: 10px;
  transition: .6s;
}

.fixed-product-info .cart-links a:hover, .fixed-product-info .tags-links a:hover, .fixed-product-info .brand-links a:hover {
  color: #F3112D;
}

.fixed-product-info .cart-socials {
  padding-top: 15px;
}

.fixed-product-info .cart-socials span {
  font-size: 19px;
  font-family: 'Mukta', sans-serif;
}

.fixed-product-info .cart-socials svg {
  color: #777;
  font-size: 18px;
  margin-left: 12px;
  transition: .6s;
}

.fixed-product-info .cart-socials svg:hover {
  color: #F3112D;
}

/*end fixed-product*/
/*start vegtables-banner */
@-webkit-keyframes fade-hide {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-hide {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@-webkit-keyframes left-right {
  0% {
    transform: translatex(100px);
  }
  50% {
    transform: translatex(50px);
  }
  100% {
    transform: translatex(-20px);
  }
}

@keyframes left-right {
  0% {
    transform: translatex(100px);
  }
  50% {
    transform: translatex(50px);
  }
  100% {
    transform: translatex(-20px);
  }
}

.vegtables-banner {
  background-image: url(../images/home-03/bg_banner_pomotion_org.png);
  position: relative;
  padding-top: 100px;
  height: 100vh;
  margin-bottom: 50px;
}

.vegtables-banner .vegta-text {
  padding-top: 8%;
  padding-left: 10%;
  width: 60%;
}

.vegtables-banner .vegta-text h3 {
  color: #fff;
  font-weight: lighter;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.4px;
  text-transform: capitalize;
}

.vegtables-banner .vegta-text h2 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.4px;
  text-transform: capitalize;
}

.vegtables-banner .vegta-text p {
  color: #fff;
  font-weight: lighter;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  line-height: 25px;
  padding-top: 15px;
}

.vegtables-banner .vegta-text span {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  line-height: 25px;
  display: block;
  padding: 25px 0px 35px;
}

.vegtables-banner .vegta-text b {
  font-size: 36px;
}

.vegtables-banner .vegta-text a {
  background: #87be00;
  border: 1px solid #87be00;
  padding: 8px 24px;
  border-radius: 15px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1.8px;
  font-family: 'Mukta', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 17px;
  transition: .5s;
}

.vegtables-banner .vegta-text a:hover {
  background-color: #fff;
  color: #87be00;
}

.vegtables-banner .moving-one {
  position: absolute;
  left: 50%;
  top: 15%;
}

.vegtables-banner .moving-one img {
  transition: 5s;
  animation-name: fade-hide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.vegtables-banner .moving-two {
  position: absolute;
  right: 0;
  bottom: 15%;
}

.vegtables-banner .moving-two img {
  transition: 5s;
  animation-name: up-down;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.vegtables-banner .moving-three {
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.vegtables-banner .moving-three img {
  transition: 5s;
  animation-name: left-right;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.vegtables-banner .moving-four {
  position: absolute;
  left: 0%;
  top: 15%;
}

.vegtables-banner .moving-four img {
  transition: 5s;
  animation-name: up-down;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*end vegtables-banner*/
/*start chef-advice*/
.chef-advice {
  position: relative;
  width: 100%;
}

.chef-advice .chef-img {
  position: relative;
}

.chef-advice .chef-img img {
  position: absolute;
  width: 100%;
  top: -100px;
}

.chef-advice .chef-text {
  padding-top: 90px;
}

.chef-advice .chef-text h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 30px;
  font-family: 'Mukta', sans-serif;
  color: #777;
  font-weight: bold;
}

.chef-advice .chef-text b {
  font-size: 40px;
  color: black;
}

.chef-advice .chef-text p {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
}

.chef-advice .chef-link {
  display: flex;
  flex-wrap: wrap;
}

.chef-advice .chef-link > a {
  background-color: #F3112D;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #F3112D;
  transition: .6s;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.chef-advice .chef-link > a:hover {
  background-color: black;
  border-color: black;
}

.chef-advice .chef-link .menu-view {
  background-color: black;
  border-color: black;
}

.chef-advice .chef-link .menu-view:hover {
  background-color: #87be00;
  border-color: #87be00;
}

/*end chef advice*/
/*start fixed product two*/
/*end fixed product two*/
/*start deals-day */
.deals-day {
  padding-top: 200px;
}

.deals-content {
  width: 100%;
}

.deals-content h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  padding-bottom: 25px;
}

.deals-card {
  width: 98%;
  margin: 1%;
  border: 2px solid orangered;
  margin-bottom: 45px;
  position: relative;
}

.deals-card .deals-discount {
  background-color: orangered;
  padding: 4px 6px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 10px;
}

.deals-card img {
  width: 98%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.deals-card .card-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deals-card .card-timer span {
  border: 1px solid #ddd;
  justify-content: center;
  text-align: center;
  width: 60px;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
  color: #777;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
}

.deals-card .card-timer b {
  font-weight: bold;
  color: black;
  font-size: 19px;
}

.deals-card small {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  padding-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.deals-card a {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  padding-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: black;
}

.deals-card a:hover {
  color: #0cbaa6;
}

.deals-card .deals-salery {
  text-align: center;
  font-size: 22px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  padding-top: 15px;
  margin-bottom: 15px;
  display: block;
  margin: auto;
  font-weight: bold;
}

.deals-card del {
  padding-left: 10px;
  font-size: 17px;
  color: #F3112D;
}

.deals-card p {
  text-align: center;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  padding: 15px;
  display: block;
  margin: auto;
  color: black;
}

.deals-card .deals-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deals-card .deals-btns .deals-add {
  background-color: #87be00;
  border: 2px solid #87be00;
  padding: 6px 12px 4px;
  border-radius: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Mukta', sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 0px 15px;
  transition: .6s;
}

.deals-card .deals-btns .deals-add:hover {
  background-color: #fff;
  color: #87be00;
}

.rated-deals {
  width: 100%;
}

.rated-deals h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  padding-bottom: 25px;
}

.rated-deals .rate-deal-card {
  display: flex;
  border: 2px solid #ddd;
  width: 98%;
  margin-right: 1%;
  margin-bottom: 40px;
  margin-top: 10px;
}

.rated-deals .rate-deal-card .rate-img img {
  width: 85%;
  display: block;
  margin: auto;
}

.rated-deals .rate-deal-card .rate-text {
  padding-right: 20px;
}

.rated-deals .rate-deal-card .rate-text p {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  color: #777;
  padding: 5px 0px;
}

.rated-deals .rate-deal-card .rate-text a {
  font-size: 15px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  display: block;
  color: black;
  width: 100%;
}

.rated-deals .rate-deal-card .rate-text a:hover {
  color: #0cbaa6;
}

.rated-deals .rate-deal-card .rate-text span {
  text-align: center;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

.rated-deals .rate-deal-card .rate-text del {
  font-size: 16px;
  color: #F3112D;
}

.rated-deals .rate-deal-card .rate-stars svg {
  color: gold;
  font-size: 15px;
}

.rated-deals .rate-deal-card .rate-stars span {
  font-size: 14px;
}

.rated-deals .rated-deal-banner {
  width: 100%;
  position: relative;
  transition: 2s;
  margin-top: 80px;
}

.rated-deals .rated-deal-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.5);
  transition: 2s;
}

.rated-deals .rated-deal-banner:hover::before {
  width: 100%;
}

.rated-deals .rated-deal-banner img {
  width: 100%;
}

.rated-deals .rated-deal-banner .rated-banner-text {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 45px;
  padding-top: 25px;
  transition: 2s;
}

.rated-deals .rated-deal-banner .rated-banner-text p {
  font-weight: lighter;
  text-transform: uppercase;
  color: #777;
  padding: 0;
  margin: 0;
  transition: 3s;
}

.rated-deals .rated-deal-banner .rated-banner-text h3 {
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 36px;
  transition: 3s;
}

.rated-deals .rated-deal-banner:hover .rated-banner-text p,
.rated-deals .rated-deal-banner:hover .rated-banner-text h3 {
  color: #fff;
}

/*end deals-day*/
/*start brand*/
.brand {
  width: 100%;
  padding: 45px 0px;
}

.brand .brand-img img {
  display: block;
  margin: auto;
  transition: .8s;
  opacity: .5;
  cursor: pointer;
}

.brand .brand-img img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*end brand*/
/*start blog section*/
.blog {
  width: 100%;
  overflow-x: hidden;
}

.blog .blog-head {
  text-align: center;
  padding-bottom: 20px;
}

.blog .blog-head h5 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 16px;
  color: #777;
  font-family: 'Amiri',sans-serif;
}

.blog .blog-head h3 {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
}

.blog .blog-slider {
  width: 100%;
}

.blog .blog-slider .blog-card {
  display: block;
  margin: auto;
  width: 98%;
  margin: 0 1%;
}

.blog .blog-slider .blog-card .blog-img {
  position: relative;
}

.blog .blog-slider .blog-card .blog-img img {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #ddd;
  margin-bottom: 15px;
}

.blog .blog-slider .blog-card .blog-img span {
  position: absolute;
  top: 5px;
  left: 25px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-color: #F3112D;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  padding: 4px;
}

.blog .blog-slider .blog-card .blog-text {
  text-align: center;
}

.blog .blog-slider .blog-card .blog-text > a {
  font-weight: bold;
  font-size: 17px;
}

.blog .blog-slider .blog-card .blog-text .blog-comment {
  position: relative;
  padding-top: 25px;
}

.blog .blog-slider .blog-card .blog-text .blog-comment a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}

.blog .blog-slider .blog-card .blog-text .blog-comment svg {
  padding-left: 4px;
}

.blog .blog-slider .blog-card .blog-text .blog-comment .share-icon {
  cursor: pointer;
  color: #777;
  padding-left: 8px;
  transition: .6s;
}

.blog .blog-slider .blog-card .blog-text .blog-comment .social-icons {
  position: absolute;
  right: -5px;
  top: -50px;
  transition: .6s;
  display: none;
}

.blog .blog-slider .blog-card .blog-text .blog-comment .social-icons a {
  font-size: 16px;
  transition: .6s;
  display: inline-block;
  color: #777;
}

.blog .blog-slider .blog-card .blog-text .blog-comment .social-icons a:hover {
  color: #0cbaa6;
  padding-right: 4px;
}

.blog .blog-slider .blog-card .blog-text .blog-comment p {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Amiri',sans-serif;
  color: #777;
  padding: 15px;
  line-height: 25px;
}

.blog .blog-slider .blog-card .blog-text .blog-comment a:last-child {
  color: #777;
  transition: .6s;
}

.blog .blog-slider .blog-card .blog-text .blog-comment a:last-child:hover {
  color: #F3112D;
}

/*end blog section*/
/*start footer*/
footer {
  width: 100%;
  overflow-x: hidden;
  padding-top: 100px;
}

.new-seletter {
  margin-bottom: 25px;
}

.new-seletter img {
  margin-bottom: 30px;
  display: block;
}

.new-seletter svg {
  font-size: 20px;
}

.new-seletter .quation {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: -35px;
  text-transform: capitalize;
  font-weight: bold;
}

.new-seletter .seletter-form {
  margin-top: 25px;
}

.new-seletter .seletter-form h3 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.new-seletter .seletter-form #seltter-mail {
  border: 1px solid #ddd;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  outline: transparent;
  height: 45px;
  width: 70%;
  padding-left: 15px;
}

.new-seletter .seletter-form #seltter-sub {
  background-color: #F3112D;
  color: #fff;
  text-transform: uppercase;
  height: 45px;
  border-color: #F3112D;
  outline: transparent;
  margin-left: -10px;
  width: 28%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  transition: .6s;
}

.new-seletter .seletter-form #seltter-sub:hover {
  background-color: #C70039;
  border-color: #C70039;
}

.first-list {
  margin-bottom: 25px;
}

.first-list h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
}

.first-list li {
  margin-bottom: 10px;
}

.first-list a {
  font-size: 12px;
  text-transform: capitalize;
  color: #777;
  transition: .6s;
}

.first-list a:hover {
  color: #F3112D;
}

.second-list {
  margin-bottom: 25px;
  margin-top: 35px;
}

.second-list li {
  margin-bottom: 10px;
}

.second-list a {
  font-size: 12px;
  text-transform: capitalize;
  color: #777;
}

.second-list a:hover {
  color: #F3112D;
}

.transport {
  margin-bottom: 25px;
}

.transport h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.transport span {
  display: block;
  padding-bottom: 10px;
  color: #777;
}

.transport span svg {
  padding-right: 10px;
  font-size: 18px;
}

.transport-social {
  display: flex;
  padding-top: 5px;
}

.transport-social a {
  padding-right: 15px;
  font-size: 17px;
}

.foot-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  padding: 15px;
}

.foot-end a {
  padding: 10px;
}

/*end footer*/
.scroll-to-top {
  position: fixed;
  z-index: 999999999999999999;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  display: none;
}

.scroll-to-top svg {
  color: #F3112D;
  background-color: #fff;
  border: 1px solid #F3112D;
  padding: 12px;
  font-size: 19px;
  border-radius: 10px;
}

/* end scroll to top*/
/*end index.html*/
/* start login html*/
.login-banner, .about-banner {
  background-image: url(../images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  text-align: center;
  margin-top: 30px;
}

.login-banner h3, .about-banner h3 {
  font-weight: bold;
  color: #fff;
  font-family: 'Amiri',sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
  padding-top: 12vh;
}

.home-return {
  padding: 25px 0px 100px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 14px;
}

.home-return a {
  color: #777;
  transition: .6s;
}

.home-return a:hover {
  color: #F3112D;
}

.log-form {
  width: 100%;
  margin-bottom: 25px;
}

.log-form label {
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 14px;
  padding-left: 10px;
}

.log-form #log-mail,
.log-form #log-pass {
  width: 100%;
  border: 1px solid #ddd;
  outline: transparent;
  height: 40px;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

.log-form #log-sub {
  width: 150px;
  padding: 8px;
  border-radius: 25px;
  outline: transparent;
  border: 1px solid #C70039;
  background-color: #C70039;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  transition: .6s;
}

.log-form #log-sub:hover {
  background-color: #F3112D;
  border-color: #F3112D;
}

.log-form a {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Amiri',sans-serif;
  font-weight: bold;
  padding-left: 25px;
}

.log-info {
  border: 2px solid #ddd;
  padding-left: 15px;
  padding-bottom: 35px;
}

.log-info h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  padding-top: 15px;
}

.log-info p {
  font-size: 14px;
}

.log-info a {
  padding: 8px 12px;
  border-radius: 25px;
  outline: transparent;
  border: 1px solid #C70039;
  background-color: #C70039;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  transition: .6s;
}

.log-info a:hover {
  background-color: #F3112D;
  border-color: #F3112D;
}

.info-list {
  list-style: disc;
  margin-bottom: 25px;
}

.info-list li {
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: .8px;
}

/*end login html*/
/*start about html*/
.about {
  width: 100%;
  overflow: hidden;
}

.about-head {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 9999;
  padding-bottom: 70px;
}

.about-img {
  width: 100%;
}

.about-img img {
  width: 100%;
  transform: scale(1.5);
}

.about-text {
  position: relative;
  z-index: 9999;
  float: right;
  width: 48%;
  margin-top: -220px;
}

.about-text p {
  color: #777;
  font-size: 15px;
}

.about-text blockquote {
  padding: 10px;
  color: #C70039;
}

@media (max-width: 767px) {
  .about-head {
    padding-bottom: 20px;
  }
  .about-img {
    display: none;
  }
  .about-text {
    margin: 10px;
    float: left;
    width: 100%;
  }
}

/*start choose us*/
.choose-us {
  width: 100%;
  overflow-x: hidden;
  padding: 60px 0px;
}

.choose-head {
  text-align: center;
  padding-bottom: 25px;
}

.choose-head h3 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 1px;
  font-family: 'Mukta', sans-serif;
}

.choose-head p {
  text-transform: capitalize;
  font-size: 15px;
  font-family: 'Mukta', sans-serif;
}

.choose-content {
  position: relative;
}

.choose-text {
  display: flex;
  margin-bottom: 25px;
}

.choose-text > span {
  color: #3b7f17;
  font-size: 38px;
  margin: 35px 10px;
}

.choose-info {
  display: flex;
  flex-direction: column;
}

.choose-info p:first-child {
  font-size: 52px;
  font-weight: bold;
  color: #3b7f17;
  padding: 0;
  margin: 0;
}

.choose-info p:nth-child(2) {
  color: #3b7f17;
  text-transform: capitalize;
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.choose-info span {
  text-transform: capitalize;
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
}

.choose-left .choose-text:nth-child(2) > span {
  color: #ff4f63;
}

.choose-left .choose-text:nth-child(2) p:first-child {
  color: #ff4f63;
}

.choose-left .choose-text:nth-child(2) p:nth-child(2) {
  color: #ff4f63;
}

.choose-left .choose-text:nth-child(3) > span {
  color: #cec316;
}

.choose-left .choose-text:nth-child(3) p:first-child {
  color: #cec316;
}

.choose-left .choose-text:nth-child(3) p:nth-child(2) {
  color: #cec316;
}

.choose-right .choose-text:nth-child(1) > span {
  color: #ffbc53;
}

.choose-right .choose-text:nth-child(1) p:first-child {
  color: #ffbc53;
}

.choose-right .choose-text:nth-child(1) p:nth-child(2) {
  color: #ffbc53;
}

.choose-right .choose-text:nth-child(2) > span {
  color: #51142e;
}

.choose-right .choose-text:nth-child(2) p:first-child {
  color: #51142e;
}

.choose-right .choose-text:nth-child(2) p:nth-child(2) {
  color: #51142e;
}

.choose-right .choose-text:nth-child(3) > span {
  color: #95cb34;
}

.choose-right .choose-text:nth-child(3) p:first-child {
  color: #95cb34;
}

.choose-right .choose-text:nth-child(3) p:nth-child(2) {
  color: #95cb34;
}

.choose-banner {
  width: 90%;
  margin-left: 5%;
}

.choose-banner img {
  width: 100%;
  display: block;
  margin: auto;
}

/*end choose*/
/*start testimonials*/
.testimonial-card {
  width: 85%;
  margin: auto;
  text-align: center;
}

.testimonial-card img {
  display: block;
  margin: auto;
}

.testimonial-text {
  padding: 25px 30px;
}

.testimonial-text p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  padding-top: 10px;
  font-family: 'Mukta', sans-serif;
}

.testimonial-text h6 {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3b7f17;
}

.testimonial-text h5 {
  font-size: 15px;
  letter-spacing: 1px;
  color: #777;
  text-transform: capitalize;
}

.testimonial-text .test-rate {
  margin-top: 10px;
}

.testimonial-text .test-rate svg {
  color: gold;
}

/*end testimonials*/
/*end about html*/
/*start shopping cart html*/
.shopping-banner {
  background-image: url(../images/top_banner_shopping_cart.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px;
  color: #fff;
}

.shopping-banner h5 {
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}

.shopping-banner p {
  font-size: 15px;
  letter-spacing: .5px;
}

.shopping-banner span {
  display: block;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.shopping-banner span small {
  padding-left: 25px;
  font-size: 14px;
  font-weight: 700;
}

.shopping-banner .shopping-total {
  border-top: 1px solid #fff;
  width: 290px;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 5px;
}

.shopping-banner .shopping-links {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopping-banner .shopping-links a {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 6px 14px;
  letter-spacing: 2px;
  margin: 10px;
  text-align: center;
  transition: .6s;
}

.shopping-banner .shopping-links a:hover {
  background-color: #777;
  color: #fff;
  border-color: #777;
}

.shopping-table {
  width: 100%;
}

.shopping-table h3 {
  text-transform: capitalize;
  font-weight: bold;
  padding: 15px;
  font-size: 19px;
}

.shopping-table thead {
  border: 2px solid #ddd;
}

.shopping-table th {
  text-transform: capitalize;
  font-weight: bold;
  border-left: 1px solid #ddd;
}

.shopping-table img {
  width: 120px;
  margin: 10px;
}

.shopping-table a {
  text-transform: capitalize;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
}

.shopping-table td {
  font-weight: bold;
  align-items: center;
  border-right: 1px solid #ddd;
}

.shopping-table td:not(:first-child) {
  padding-top: 7%;
}

.shopping-table del {
  color: #777;
  padding-left: 10px;
  font-size: 14px;
}

.shopping-table span {
  font-size: 20px;
}

.shopping-table input {
  width: 125px;
  height: 45px;
  border-radius: 25px;
  outline: transparent;
  border: transparent;
  box-shadow: 0px 0px 10px #ddd;
  background-color: #fff;
  padding: 1px 10px;
}

.table-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.table-links a {
  background-color: #ddd;
  border-radius: 25px;
  border: 1px solid #ddd;
  color: black;
  letter-spacing: 2px;
  font-weight: normal;
  transition: .6s;
}

.table-links a:hover {
  background-color: #777;
  color: #fff;
}

.table-links a:first-child {
  background-color: #F3112D;
  border-radius: 25px;
  border: 1px solid #F3112D;
  color: #fff;
  letter-spacing: 2px;
  font-weight: normal;
  transition: .6s;
}

.table-links a:first-child:hover {
  background-color: #777;
  border-color: #777;
}

.table-links input {
  background-color: #ddd;
  color: #777;
  margin-left: 40%;
  margin-right: 25px;
  font-weight: bold;
}

.shopping-total {
  padding-top: 50px;
}

.shopping-total span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 50px;
}

.shopping-total small {
  color: #777;
  padding-right: 50px;
  padding-left: 10px;
  font-weight: normal;
}

.shopping-total p {
  font-size: 14px;
  padding-bottom: 35px;
  border-bottom: 1px solid #ddd;
}

.shopping-total a {
  background-color: #F3112D;
  border-radius: 25px;
  border: 1px solid #F3112D;
  color: #fff;
  padding: 8px 12px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  letter-spacing: 2px;
  font-size: 14px;
  transition: .6s;
  display: block;
  margin: auto;
  text-align: center;
}

.shopping-total a:hover {
  background-color: #777;
  border-color: #777;
  color: #fff;
}

.shopping-slider {
  margin-top: 20px;
}

@media (max-width: 550px) {
  .shopping-table {
    overflow-x: auto;
  }
}

/*end shopping cart html*/
