* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*end global rules*/
/*start head top*/
@media (max-width: 991px) {
  .social-icons {
    display: none;
  }
  .currency, .language {
    display: none;
  }
}

@media (max-width: 767px) {
  .head-top {
    display: none;
  }
}

/*end head top*/
/*start nav bar*/
@media (max-width: 767px) {
  .shopping {
    height: 0;
  }
  .head-top {
    display: none;
    height: 0;
  }
  .head-nav {
    display: none;
    border: transparent;
  }
}

/*end navbar*/
/*start head search*/
@media (max-width: 991px) {
  .department {
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  .phone-number {
    text-align: center;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .head-search {
    display: none;
  }
}

/*end head search*/
/*start home slider*/
@media (max-width: 1199px) {
  .home-slider {
    width: 100%;
    overflow-x: hidden;
  }
  .slick-slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .slick-slider .home-image {
    position: relative;
    width: 100%;
  }
  .slick-slider .home-image > img {
    width: 200%;
    background-size: cover;
  }
  .slick-slider .home-image .second-img img {
    position: absolute;
    z-index: 9999;
    width: 35%;
    top: 20%;
    left: 5%;
  }
  .slick-slider .home-image .slide-text {
    position: absolute;
    z-index: 99999;
    right: 5%;
    top: 25%;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 25px 10px;
    text-align: center;
  }
  .slick-slider .home-image .slide-text h5 {
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
  }
  .slick-slider .home-image .slide-text h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
  }
  .slick-slider .home-image .slide-text p {
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
    padding-bottom: 10px;
  }
  .slick-slider .home-image .slide-text .slide-shop {
    background-color: #C70039;
    color: #fff;
    border: 1px solid #C70039;
    padding: 6px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 15px;
    transition: .6s;
  }
  .slick-slider .home-image .slide-text .slide-shop:hover {
    background-color: #fff;
    color: #C70039;
  }
  .slick-slider .home-image .slide-text .slide-book {
    background-color: #0cbaa6;
    color: #fff;
    border: 1px solid #0cbaa6;
    padding: 6px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 25px;
    transition: .6s;
  }
  .slick-slider .home-image .slide-text .slide-book:hover {
    background-color: #fff;
    color: #0cbaa6;
  }
}

@media (max-width: 767px) {
  .home-slider {
    position: absolute;
    top: 120px;
    left: 0px;
  }
  .home-slider .leftslick, .home-slider .rightslick {
    background-color: transparent;
    color: #fff;
    font-size: 18px;
  }
  .slick-slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .slick-slider .home-image {
    position: relative;
    width: 100%;
  }
  .slick-slider .home-image > img {
    width: 200%;
    background-size: cover;
  }
  .slick-slider .home-image .second-img img {
    position: absolute;
    z-index: 9999;
    width: 40%;
    top: 20%;
    left: 5%;
  }
  .slick-slider .home-image .slide-text {
    position: absolute;
    z-index: 99999;
    right: 5%;
    top: 25%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 25px 10px;
    text-align: center;
  }
  .slick-slider .home-image .slide-text h5 {
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
  }
  .slick-slider .home-image .slide-text h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
  }
  .slick-slider .home-image .slide-text p {
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: black;
    padding-bottom: 10px;
  }
  .slick-slider .home-image .slide-text .slide-shop {
    background-color: #C70039;
    color: #fff;
    border: 1px solid #C70039;
    padding: 6px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 15px;
    transition: .6s;
  }
  .slick-slider .home-image .slide-text .slide-shop:hover {
    background-color: #fff;
    color: #C70039;
  }
  .slick-slider .home-image .slide-text .slide-book {
    background-color: #0cbaa6;
    color: #fff;
    border: 1px solid #0cbaa6;
    padding: 6px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-right: 25px;
    transition: .6s;
  }
  .slick-slider .home-image .slide-text .slide-book:hover {
    background-color: #fff;
    color: #0cbaa6;
  }
}

@media (max-width: 530px) {
  .home-slider {
    width: 100%;
    overflow-x: hidden;
  }
  .slick-slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .slick-slider .home-image {
    position: relative;
    width: 100%;
  }
  .slick-slider .home-image > img {
    width: 250%;
    background-size: cover;
  }
  .slick-slider .home-image .second-img img {
    position: absolute;
    z-index: 9999;
    width: 36%;
    top: 20%;
    left: 2%;
  }
  .slick-slider .home-image .slide-text {
    position: absolute;
    z-index: 99999;
    right: 2%;
    top: 2%;
    width: 64%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
  }
  .slick-slider .home-image .slide-text .slide-btn a {
    display: block;
    margin: auto;
    width: 60%;
    margin-bottom: 8px;
    padding: 3px 4px;
  }
}

/*end home slider*/
/*start .pomegrante slider*/
@media (max-width: 991px) {
  .pomegrante {
    position: relative;
  }
}

@media (max-width: 767px) {
  .pomegrante {
    position: relative;
    margin-top: 80vh;
  }
}

@media (max-width: 450px) {
  .pomegrante {
    position: relative;
    margin-top: 62vh;
  }
}

/*end .pomegrante slider*/
/*start fresh-fruits section*/
@media (max-width: 991px) {
  .fresh-head {
    text-align: center;
  }
  .fresh-head h3 {
    text-transform: capitalize;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 34px;
    color: #F3112D;
    padding-bottom: 25px;
  }
  .biolife-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .biolife-services .serv-one {
    border: 2px solid #ddd;
    width: 90%;
    padding: 30px 15px 0px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .biolife-services .serv-one span:first-child {
    text-align: center;
    background-color: #ddd;
    color: black;
    padding: 12px 16px;
    border-radius: 50%;
  }
  .biolife-services .serv-one a {
    display: block;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    color: black;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    transition: .6s;
  }
  .biolife-services .serv-one a:hover {
    color: #F3112D;
  }
}

/*end fresh-fruits section*/
/*start wrapper slider*/
@media (max-width: 767px) {
  .slider-wrapper {
    margin-top: 120vh;
  }
}

@media (max-width: 380px) {
  .slider-wrapper {
    margin-top: 150vh;
    overflow: hidden;
  }
}

/*end wrapper slider*/
/*start vegtables-banner */
@media (max-width: 767px) {
  .vegtables-banner {
    height: 100vh;
  }
  .vegtables-banner .vegta-text {
    width: 70%;
    display: block;
    margin: auto;
  }
  .vegtables-banner .vegta-text h2 {
    font-size: 34px;
  }
  .vegtables-banner .moving-one {
    position: absolute;
    left: 75%;
    top: 15%;
  }
  .vegtables-banner .moving-one img {
    width: 100%;
  }
  .vegtables-banner .moving-two, .vegtables-banner .moving-four {
    display: none;
  }
  .vegtables-banner .moving-three img {
    width: 70%;
  }
}

/*end vegtables-banner */
/*start chef advice*/
@media (max-width: 991px) {
  .chef-advice {
    position: relative;
    width: 100%;
  }
  .chef-advice .chef-img {
    position: relative;
  }
  .chef-advice .chef-img img {
    position: absolute;
    z-index: 99999999999;
    width: 150%;
    top: 100px;
    left: -50px;
  }
  .chef-advice .chef-text {
    width: 500px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .chef-advice {
    position: relative;
    width: 100%;
  }
  .chef-advice .chef-img {
    position: relative;
  }
  .chef-advice .chef-img img {
    width: 90%;
    position: absolute;
    z-index: 99999999999;
    top: -100px;
    left: 0px;
  }
  .chef-advice .chef-text {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 200px;
  }
}

/*end chef advice*/
/*start rated deal*/
@media (max-width: 767px) {
  .rated-deals .rated-deal-banner {
    margin-bottom: 25px;
    border: 2px solid #ddd;
  }
  .rated-deals .rated-deal-banner .rated-banner-text {
    position: absolute;
    right: 0;
    top: 1%;
    padding: 0;
  }
  .rated-deals .rated-deal-banner .rated-banner-text p {
    font-size: 11px;
  }
  .rated-deals .rated-deal-banner .rated-banner-text h3 {
    font-size: 12px;
    padding: 5% 0px;
  }
}

/*end rated deal*/
